<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>homepage</title>
    </head>
    <body>
        <h1>Welcome to the image upload app</h1>
        
        <% if (image) { %>
        <h2>Uploaded image:</h2>
        <img src="/<%= image %>" alt="uploaded image" style="max-width: 500px;"> <%
        } else { %>
         <p> No image uploaded yet</p>
        %> } %>
        <br>
        <a href="/uploads">Upload a new image</a>
    </body>
</html>